---
BasedOnStyle: Microsoft
Cpp11BracedListStyle: 'false'
PointerAlignment: Left
SpaceBeforeCpp11BracedList: 'true'
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: Consecutive
AlwaysBreakAfterDefinitionReturnType: All

...
